﻿@model IEnumerable<global::UserControl.Domain.Models.User>
@{
    ViewBag.Title = "Usuários";
}

<h2>Usuários - 10</h2>

<table>
    <thead>
        <tr>
            <th class="col-md-4">Nome</th>
            <th class="col-md-3">Email</th>
            <th class="col-md-2">Senha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@string.Format("{0} {1}", item.FirstName, item.LastName)</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
            </tr>
        }
    </tbody>
</table>