﻿@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("", true)
    <div class="panel panel-default">
        <div class="panel panel-heading">Informações do Usuário</div>
        <div class="panel panel-body">
            <label>Email:</label>
            <input type="text" name="Email" class="form-control"/>
            <br/>
            <label>Password:</label>
            <input type="text" name="Password" class="form-control" />
            <br/>
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-log-in"></i> Login</button>
        </div>
    </div>
}
